.home-img {
    width: 100%;
    height: 100vh;
    background-image: url(./images/photo-1548426589-b5560481a46e.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tele-section {
    width: 100%;
    min-height: 100vh;
    background-color: black;
}

.title {
    color: white;
    text-align: center;
    padding-top: 3rem;
    font-size: 3em;
    font-weight: 100;
}

.tele-info-box {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.tele-para {
    color: white;
    width: 40em;
    padding-right: 3em;
    font-weight: 100;
    font-size: 1.5em;
}

/* .tele-main-img {
    height: 70vh;
    max-width: 100%;
} */

.tele-main-img {
    max-height: 70vh;
    width: auto;
    max-width: 100%;
}

.all-products {
    width: 100%;
    height: 100vh;
    background-color: rgba(238, 130, 238, 0.601);
}

.brand {
    color: black;
    text-align: center;
    padding-top: 3rem;
    font-size: 3em;
    font-weight: 100;
    border-bottom: 1px black solid;
}

footer {
    height: 25vh;
    width: 100vw;
    background-color: whitesmoke;
}